<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	<link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    		<link rel="stylesheet" href="assets/css/main.css">
    		<link rel="stylesheet" href="assets/css/authentication.css">
    		<link rel="stylesheet" href="assets/css/color_skins.css">
        {% endblock %}
        {% block javascripts %}
        	<script src="assets/bundles/libscripts.bundle.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
