{% extends 'base.html.twig' %}

{% block title %}Users!{% endblock %}

{% block body %}
<div class="authentication">
    <div class="card" style="max-width: 900px !important">
    	<div class="title" style="text-align: left; padding: 2%; border-bottom: 1px solid #CCC">
    		<span class="float-right"><a href="/register" class="btn btn-raised btn-default waves-effect">ADD USER</a></span>
    		Users
    	</div>
        <div class="body text-left">
        	<div class="col-md-12">
	        	<table class="table">
	        		<thead>
	        			<tr>
	        				<th>ID</th>
	        				<th>Name</th>
	        				<th>Email</th>
	        			</tr>
	        		</thead>
	        		<tbody>
	        			{% for user in users %}
	        			<tr>
	        				<td>{{ user.id }}</td>
	        				<td>{{ user.name }}</td>
	        				<td>{{ user.email }}</td>
	        			</tr>
	        			{% endfor %}
	        		</tbody>
	        	</table>
        	</div>
        </div>
    </div>
</div>
{% endblock %}
