{% extends 'base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
<div class="authentication">
    <div class="card">
        <div class="body">
            <div class="row">
                <form class="col-lg-12" id="sign_in" method="POST" action="{{ path('saveUser') }}">
                    <h5 class="title">Create Your Account</h5>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="name">
                            <label class="form-label">Name</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="text" class="form-control" name="email">
                            <label class="form-label">Email</label>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input type="password" class="form-control" name="password">
                            <label class="form-label">Password</label>
                        </div>
                    </div>
                    <div class="row">
                    	<input type="submit" class="btn btn-raised btn-primary waves-effect" value="REGISTER">
                    	<a href="/" class="btn btn-raised btn-default waves-effect">CANCEL</a>	
                    </div>
                </form>
                <div class="col-lg-12"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}